
  
  /* Header Styles */
  header {
    background-color: #FFCC00;
    text-align: center;
    border-bottom: 2px solid #333;
    padding: 0px;
    margin: 0px auto;
  }
  
  header h3.header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 32px;
    color: #CC0000;
    padding: 0px;
    margin: 0px;
  }
  
  /* Navigation Styles */
  nav {
    background-color: #FFCC00;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #000000;
  }
  
  nav a {
    text-decoration: none;
    color: #FFFFFF; 
    padding: 0 10px;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #333;
  }
  

  main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  
  h2.history{
    color: #CC0000;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #CC0000;
    padding: 0px auto;
    margin: 0px auto;
    padding-bottom: 5px;
    margin-bottom: 25px;
  }
  
  p {
    font-size: 16px;
  }

  p.history {
    font-size: 16px;
    font-weight: bold;

  }

  a.history {
    text-decoration: none;
    color: #CC0000;
    font-weight: bold;
  }
  
  a.history:hover {
    color: #FFCC00;
    border-bottom: 2px solid #FFCC00; 
  }
  
  ul.history {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    list-style-type: none; 
    padding: 0;
  }
  
  li.history {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  figure.history {
    text-align: center;
    margin-bottom: 20px;
  }
  
  figure img.mcd {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  figcaption.first {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
  }
  